# emshop
.htaccess
.CLAUDE.md
Dockerfile
# config.php
/content/backup/*.sql
/content/cache/*
/content/uploadfile/*

# IDE
.project
.settings
.buildpath
.cache
.idea
.claude
.netbeans
.DS_Store
._*
__MACOSX/
.env
!.env.example

# docker
db_data/*

